body {
    width: 65vw;
    margin: 10vh auto;
    background-color: rgb(245, 245, 250);
    font-family: 'Questrial', sans-serif;
}
header h1 {
    text-align: center;
    border: 5px inset rgba(28,110,164,0.54);
    padding:5px 0;
}
#cv ul li {
    list-style: none;
    
}
#cv ul {
    display:flex;
    justify-content: space-around;
    
    
}
#cv ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}
#cv ul li a:hover {
    opacity:0.7;
}

 #first {
    display: flex;
    flex-direction: row;
}
#per_2{
    display: flex;
    flex-direction: column;
}

#per_2 h3 {
    padding-left: 1.75rem;
    margin-bottom: 0;
    color:rgb(64, 64, 233);
    font-size: 1.3rem;
}

#per li {
   margin-bottom: 1.15rem;
}
h3{
    color:rgb(64, 64, 233);
    font-size: 1.3rem;
}
#second p{
    text-align: justify;
    line-height:1.5rem;
}

#third ul li{
    padding-bottom: 1.5rem;
}
#Fourthly ul li{
    padding-bottom: 1.5rem;
}
#fifth ul li{
    padding-bottom: 1.5rem;
}
footer p {
    text-align: center;
}
