.seats{
    margin:0.5rem;
    padding: 2rem;
    font-size: 170%;
    width: 15%;
    text-align: center;
    color:white;
    text-decoration: none;
}

.seats:hover{
    color:white;
    opacity:.8;
}
.available{
background-color: rgb(52, 52, 250);
}

.unavailable{
background-color: rgb(97, 96, 96);
}